@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

* {
  font-family: 'Comic Neue', cursive;
  font-size: large;
}

h1, h2, h3, h4, h5 {
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: larger;
}